@use "./variables.scss" as *;

html,
body {
  height: 100vh;
  background-color: #181c21;
  color: #d7dde8;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin-top: 1rem;
  }
}

.code {
  font-family: "Courier New", monospace;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: #bec9d9;
}

button {
  background-color: #28303a;
  color: #d8e0eb;
  border: 1px solid #3b4654;
  border-radius: 8px;
  outline: none;
  padding: 0.6em 1.2em;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #313c49;
  border-color: #4a5a6f;
}

p {
  font-size: 1rem;
  color: $font;
}

.app {
  background-color: #1f252e;
  text-align: center;
}

.stack-icons {
  color: $font;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 2.5rem;
    color: #9aa8bc;
  }
}

.logo {
  height: 5rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-lg {
  height: 6rem;
}

.read-the-docs {
  color: #8a95a6;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin-right: 0.5rem;
  }
}

.stack-colors {
  display: flex;
  flex-direction: row;

  div {
    height: 0.75rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    transition: 1rem;
    background-color: black;
  }
}

.stack-colors-a {
  background-color: var(--uxp-host-background-color) !important;
}

.stack-colors-b {
  background-color: var(--uxp-host-text-color) !important;
}

.stack-colors-c {
  background-color: var(--uxp-host-border-color) !important;
}

.stack-colors-d {
  background-color: var(--uxp-host-link-text-color) !important;
}

.stack-colors-e {
  background-color: var(--uxp-host-widget-hover-background-color) !important;
}

.stack-colors-f {
  background-color: var(--uxp-host-widget-hover-text-color) !important;
}

.stack-colors-g {
  background-color: var(--uxp-host-widget-hover-border-color) !important;
}

.stack-colors-h {
  background-color: var(--uxp-host-text-color-secondary) !important;
}

.stack-colors-i {
  background-color: var(--uxp-host-link-hover-text-color) !important;
}

.stack-colors-j {
  background-color: var(--uxp-host-label-text-color) !important;
}

.webview-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  background-color: $darkest;
}
